body{
    background: radial-gradient(rgba(165, 221, 247, 0), rgb(165, 221, 247,1));
}
.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
.profile-img{
    text-align: center;
    margin-bottom: 5%;
}
.profile-img img{
    width: 60%;
    height: 100%;
}

h1{
    font-weight: bold;
}

p{
    color: red;
}

table{
    margin-left: 30px;
}

.head{
    font-weight: bold;
}